@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Scheduler</title>
    <style>
        body {
            background-color: #eee;
        }
    </style>
</head>
<body>
<h1></h1>
<!--<div style="height:800px;width:1300px;margin:0 auto">
    Html.Raw(Model.Render())
</div> -->
</body>
</html>