@model IEnumerable<ERPProject.Models.Event.EventCreateModelView>
@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <style>
        body {
            background-color: gainsboro;
        }
    </style>

</head>
<body>
    <h1></h1>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <div class="event-box text-center">
                        <p>@Html.DisplayFor(modelItem => item.StartDate)</p>
                        <p>@Html.DisplayFor(modelItem => item.EndDate)</p>
                        <p>@Html.DisplayFor(modelItem => item.Text)</p>
                    </div>
                </div>
            }
            <div class="col-sm-3">
                <div class="event-box text-center">
                  add
                </div>
            </div>
        </div>

    </div>

</body>
</html>
